@page "/" 
@page "/Showcase/"
@using Showcase.Web.Shared.Components
<!-- I have to do both routes otherwise github pages stops working. -->

<PageTitle>Showcase</PageTitle>

<h1>Welcome!</h1>

<div class="container">
    <p>
        My name is György Turbék, a C# developer with a strong focus on the WPF framework. 
        I have a keen interest in the .NET Core framework and am currently expanding my skill set by learning Blazor and building this website. 
        Below, you'll find a showcase of some of my projects that demonstrate my capabilities and growth as a developer.
    </p>
</div>


<div class="project-container">
    <ProjectCard
        ImageUrl="/Pictures/Listen2Me_portfolio.jpg"
        Title="Listen2Me"
        Description="My flagship project, a music player application under non-stop development, including a ton of features."
        GitHubUrl="https://github.com/profgyuri/Listen2MeRefined" 
        IsDownloadButtonVisible="true"/>

    <ProjectCard
        ImageUrl="/Pictures/WordCounter_portfolio.jpg"
        Title="Word Counter"
        Description="Counts the number of occurances of the words in a file, and sorts them in descending order."
        GitHubUrl="https://github.com/profgyuri/WordCounter"
        IsDownloadButtonVisible="true"/>

    <ProjectCard
        ImageUrl="/Pictures/PrimeSpeedTest_portfolio.jpg"
        Title="Language Speeds"
        Description="Comparing 6 programming languages in running time, using a prime number calculating algorithhm."
        GitHubUrl="https://github.com/profgyuri/PrimeSpeedTest"
        IsDownloadButtonVisible="false"/>

    <ProjectCard
        ImageUrl="/Pictures/NetworkMonitor_portfolio.jpg"
        Title="Network Monitor"
        Description="Displays some basic information about the system's internet usage since booting."
        GitHubUrl="https://github.com/profgyuri/NetworkMonitor"
        IsDownloadButtonVisible="true"/>

    <ProjectCard
        ImageUrl="/Pictures/DatabaseFaker_portfolio.jpg"
        Title="Database Faker"
        Description="Filles an MSSQL database table with fake data for practicing purposes."
        GitHubUrl="https://github.com/profgyuri/DatabaseFaker"
        IsDownloadButtonVisible="false"/>
</div>
