@page "/"

<PageTitle>Showcase</PageTitle>

<h1>My Projects</h1>

<p>Welcome to the collection of my own codebase. Here I will demonstrate the work I'm doing in my freetime. Every project contains a link to it's own github repo page. Happy exploring!</p>
