@page "/" 
@page "/Showcase/"
@using Showcase.Web.Shared.Components
<!-- I have to do both routes otherwise github pages stops working. -->

<PageTitle>Showcase</PageTitle>

<h1>Welcome!</h1>

<div class="container">
    <p>
        My name is György Turbék, a C# developer with a strong focus on the WPF framework. 
        I have a keen interest in the .NET Core framework and am currently expanding my skill set by learning Blazor and building this website. 
        Below, you'll find a showcase of some of my projects that demonstrate my capabilities and growth as a developer.
    </p>
</div>


<div class="project-container">
    <ProjectCard
        ImageUrl="/Pictures/Listen2Me_portfolio.jpg"
        Title="Listen2Me"
        Description="My own music player application, utilizing an SqLite database."
        GitHubUrl="https://github.com/profgyuri/Listen2MeRefined" 
        IsDownloadButtonVisible="true"/>

    <ProjectCard
        ImageUrl="e:\!Programming\en.jpg"
        Title="Prime Number Speed Test"
        Description="This is a brief description of project 2."
        GitHubUrl="https://github.com/user/project2" />
</div>
