<nav>
        <a class="nav-link" href="">
                Home
        </a>
        <a class="nav-link" href="">
                Cinema
        </a>
        <a class="nav-link" href="">
                Playground
        </a>
</nav>
